@import "./variables.scss";
body {
  font-family: sans-serif;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.App {
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: $colorSecondary; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    $colorPrimary,
    $colorSecondary
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    $colorPrimary,
    $colorSecondary
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
